*:focus {
    box-shadow: none !important;
}

.navigation-button {
    background-color: transparent;
}

a[role="tab"] {
    color: rgb(20, 20, 20);
    font-weight: 500;
    font-size: 1.2rem;
}

a[aria-selected='true'] {
    color: antiquewhite !important;
    background-color: #dc3546ef !important;
}

#comment-form-input {
    min-height: 6.2rem;
}

.order-card img {
    width: 100%;
}

.order-card .my-auto {
    padding: 1rem;
}

.cart-product-price {
    text-align: right;
    line-height: .5rem;
}

@media screen and (max-width: 750px) {
    .cart-product-price {
        text-align: left;
        line-height: 1rem;
    }
}